# This is an example .env file for Playwright tests.
# You can copy this file to .env and fill in your credentials.
# Make sure to add .env to your .gitignore file to avoid committing sensitive information.
URL: 
USERNAME:
PASSWORD: 
SENDER_EMAIL:
SENDER_PASSWORD:
RECIPIENT_EMAIL:
DB_HOST:
DB_PORT:
DB_USER:
DB_PASSWORD:
DB_NAME:
LANGUAGE: en

